body hr {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 910px;
  height: 1334px;
  margin: auto;
  margin-top: 4rem;
  justify-content: center;
  /* align-items: center; */
}

.container h3 {
  font-family: "Times New Roman", Times, serif;
  color: red;
  /* text-align: left; */
  position: relative;
  left: 2.8rem;
  top: 1rem;
  width: 100%;
  margin: 0;
}

#error {
  font-family: "Times New Roman", Times, serif;
  color: black;
  margin-bottom: 75rem;
  margin-top: 3rem;
  text-align: center;
  font-family: bold;
  font-size: 3rem;
}

#homebutton {
  margin-left: 22rem;
  border: none;
  background-color: transparent;
  margin-bottom: 2rem;
}

#homebutton:hover {
  text-decoration: underline;
  color: blue;
}
.box-1,
.box-2,
.box-3 {
  display: flex;
  flex-direction: row;
  width: 810px;
  margin: 1.5rem;
  justify-content: space-between;
}

.box-1 img,
.box-2 img,
.box-3 img {
  width: 250px;
  height: 140px;
}

#article {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  margin: 1rem;
  width: 250px;
  align-items: center;
  justify-content: center;
}
#article p {
  font-size: 0.9rem;
}

#article-link {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 3rem;
  bottom: 1rem;
  color: red;
}

#article-link p {
  margin-right: 10px;
}

#article-link button {
  border: none;
  color: red;
  background-color: transparent;
}

#article-link button:hover {
  background-color: lightblue;
}

.header {
  font-family: "Times New Roman", Times, serif;
  font-size: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header h2 {
  margin: 2rem;
  margin-bottom: 1rem;
}

.header .circle {
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: red;
}

.header hr {
  width: 100%;
  line-height: 0.2rem;
  margin: 0.1rem 0;
}

.search {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}
.search input {
  width: 267px;
  height: 58px;
  border: 1px solid grey;
  font-size: 1.3rem;
}
.search button {
  width: 61px;
  height: 61.5px;
  background-color: red;
  font-size: 1.2rem;
}

.search span {
  position: relative;
  left: 2rem;
  top: 0.6rem;
  font-size: 1.8rem;
  align-items: center;
}

.footer {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer .circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;

  background-color: red;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .header {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; /* Align center for better responsiveness */
    margin-top: 1rem;
  }

  .header h2 {
    margin: 1rem 0; /* Adjust top and bottom margin */
    text-align: center; /* Center the text */
  }

  .header .circle {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: red;
  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
    margin-left: 2.8rem;

    width: 100%; /* Use full width */
  }
  .search input {
    max-width: 267px; /* Set a maximum width */
    height: 58px;
    justify-conten: center;
    border: 1px solid grey;
    font-size: 1.1rem;
  }
  .search button {
    width: 20%;
    max-width: 51px;
    height: 61.5px;
    background-color: red;
    font-size: 1.2rem;
    margin-left: 18.9rem;
    position: relative;
    bottom: 3.9rem;
  }

  .search span {
    display: none; /* Hide the span on small screens */
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%; /* Use full width */
    margin-top: 72rem; /* Adjust margin top */
    justify-content: center;
    align-items: center; /* Center items */
  }
  .container h3 {
    position: relative;
    margin: 0;
    left: 0.2rem;
    right: 5rem;
  }

  .box-1,
  .box-2,
  .box-3 {
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items */
    margin: 1rem 0; /* Adjust top and bottom margin */
  }

  .footer {
    font-family: "Times New Roman", Times, serif;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70rem; /* Adjust margin top */
  }
}
